extends layout

block content
  h1= title
  p Welcome to Northwest Missouri State University #{title}
  button(type="button" class="btn btn-secondary" onclick="goFaster()") Press Me
  br
   a(href='http://localhost:3000/Vechile') Click Here to Visit Vechiles Website
  div#faster Increase the speed 
  script.
    let mph = 20;
    let change = 1;
    function goFaster() {
      mph += change;
      change += 1;
      document.getElementById('faster').textContent = `MPH ${mph} with change ${change}`;
    }
